body {
    font-family: Arial, sans-serif; /* Sets the font for the page */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #fff4e8; /* Light grey background */
}


.gallery {
    width: 80%;
    max-width: 1200px; /* Limits the maximum width to ensure the gallery isn't too wide on large screens */
    margin: 20px auto; /* Centers the gallery on the page with margin top and bottom */
    padding: 20px;
    background: #fff4e8; /* White background for the gallery */
    
}

.art-piece {
    margin-bottom: 20px; /* Space between art pieces */
}

.art-piece img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
}

.art-piece p {
    margin: 10px 0; /* Vertical margin for the text, no horizontal margin */
}
